@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Raleway&display=swap");

@import "pagination.css";

@import "loading.css";
@import "hamburger.css";
* {
  padding: 0;
  margin: 0;
  font-family: "Bitter", serif;
  font-family: "Raleway", sans-serif;
}

.bg-green {
  background-color: #5ec79b;
}

.bg-purple {
  background-color: #6948af;
}

.bg-red {
  background-color: #f26161;
}

.bg-red-custom {
  background-color: #f26161;
}

.bg-red-custom-current {
  background-color: #f03b3b;
}

.bg-green-custom {
  background-color: #5ec79b;
}

.text-light-blue {
  color: #6e89c0;
}

.text-blue {
  color: #3559a4;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.my-anchor-css-class {
  font-weight: 600;
}

table,
th,
td {
  border: 1px solid black;
}

ul {
  list-style-type: square;
  margin-left: 20px;
}

ol {
  list-style: decimal;
}

.list-none {
  list-style: none;
}

a {
  font-weight: bold;
  text-decoration: underline;
}

.link-none {
  text-decoration: none;
}

ol {
  margin-left: 50px;
}

p {
  margin-bottom: 2em;
}
